/* ----- The CSS Reset-----  */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }
  /* ----- The CSS Reset END-----  */

   /* ----- Typography mobile ?-----  */
   h1 {
    font-size: 28px;
   }
   h2 {
    font-size: 22px;
   }
   buttons {
    font-size: 16px;
   }
    /* ----- Typography mobile END?-----  */

/* ----- BASIC FLEXBOX LAYOUT-----  */
html, body {
    width: 100%;
    height: 100%;
    }

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

header{
    padding: 2em;
}
main {
    margin: 2em;
    flex-grow: 1;
  }
  
footer {
    padding: 2em;
}
head, main, footer {
    flex-shrink: 0;
}
/* ----- BASIC FLEXBOX LAYOUT END-----  */
* {
    text-align: center;
}

/* ----- Round info section-----  */
.roundInfo {
    margin-bottom: 2em;
}
.roundOutcome {
    padding: 1em;
}
.roundExplanation{
    padding: 0.5em 1em 1em;
}

/* ----- Round info section END-----  */

/* ----- Boxes Section-----  */
.boxes{
    padding: 2em 0;
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}
.playerBox, .computerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    width: 160px;
    height: 160px;
    border: 1px solid red;
}
/* ----- Boxes Section END-----  */

/* ----- Choices Clickable section-----  */
.ChoicesClickable{
    margin-top: 3em;
    display: flex;
    justify-content: space-around;
}
.rock, .paper, .scissors {
      border: 1px solid red;
      /* padding: 20px;    */
      width: 100px;
      height: 100px;
}
/* ----- Choices Clickable section END-----  */